.filterContainer {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.fields {
	display: flex;
	flex-direction: row;
}

.filterTools {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.fields > div {
	width: 171px;
}